src/main/mule/systemapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e86de602-b70c-4478-889b-333ea18fdb74" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="a7583da3-8ca3-4ba6-a86e-9a7b854e6320" >
		<file:connection workingDir="D:\haari5" />
	</file:config>
	<flow name="systemapiFlow" doc:id="29d2d68a-7482-4fcb-bd29-c3551288014d" >
		<http:listener doc:name="Listener" doc:id="08192c16-9e07-4451-b8c1-4cae60aea92a" path="/systemapi" outputMimeType="application/csv" allowedMethods="GET" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="e73d4325-60b3-4fb3-8f20-7a284561e34d" message='#["started"]'/>
		<file:read doc:id="e1dc9b54-ec19-4bdd-b6a3-c96688b2a244" path="D:\haari5\Book 9.csv" outputMimeType="application/csv" config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="f7e96eff-95eb-4bf5-b208-db335d04a9ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map
{
	'productid':$.productid,
	'productname':$.productname,
	'cost':$.cost
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
